bot:
  token: "BOT_TOKEN"
  admin-ids:
    - 500000000
  session:
    ttl: 45m
    auth-ttl: 10m
    resend-ttl: 10m
    email-ttl: 120m
    event-id-ttl: 45m
  banner:
    auth: "file_id"
    menu: "file_id"
    personal-account: "file_id"
    clubs: "file_id"
    club-owner: "file_id"
    events: "file_id"
  auth:
    grant-chat-id: -40000000
    valid-email-domains:
        - edu.centraluniversity.ru
        - centraluniversity.ru
  qr:
    channel-id: -10000000000
  avatar:
    channel-id: -10000000000
  intro:
    channel-id: -10000000000
  mailing:
    channel-id: -10000000000

settings:
    # Система пропусков
    pass:
        # Email адреса для отправки пропусков
        emails:
            - firstemail@domain.ru

        # id телеграм-канала для отправки пропусков
        channel-id: -10000000000

        # Роли пользователей, которым НЕ отправляются пропуски
        # Возможные роли: external_user, grant_user, student
        excluded-roles:
            - "student" # Исключаем студентов

        # Подстроки в названии локации, при наличии которых требуется пропуск
        location-substrings:
            - "Гашека 7"

        shadow-ban-name-surnames:
            - "Иван Иванов"

    html:
      email-confirmation: "./mail.html"

    qr:
      logo-path: "./logo.png"

    timezone: "Europe/Moscow"
    logging:
      log-to-file: true # логирование в файл
      logs-dir: "./logs"
      debug: true # дебаг мод
      log-to-channel: true # логирование в канал
      channel-id: -10000000000 # канал для логов
      channel-log-level: 2 # от какого уровня лога будем отправлять его в канал
      locale: "ru"
    version:
      channel-id: -10000000000 # канал для уведомлений о версиях
      notify-on-startup: false # отправлять уведомления при запуске

infrastructure:
  database:
    host: "database"
    user: "user"
    password: "password"
    port: 5400
    name: "database"
    ssl-mode: "disable"

  redis:
    host: "redis"
    password: "password"
    port: 6380

  smtp:
    domain: domain.ru
    host: smtp.domain.ru
    port: 587
    login: 3587
    pass: very-strong-password
    email: email@domain.ru
